@{
    ViewBag.Title = "Index";
}

<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">News</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">You are here:</li>
                    <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">News</li>
                </ul>
            </div><!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <div class="news-wrapper col-md-8 col-sm-7">
                    <article class="news-item page-row has-divider clearfix row">
                        <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                            <img class="img-responsive" src="assets/images/news/news-thumb-1.jpg" alt="">
                        </figure>
                        <div class="details col-md-10 col-sm-9 col-xs-8">
                            <h3 class="title"><a href="news-single.html">Morbi bibendum consectetuer vulputate sollicitudin</a></h3>
                            <p>Morbi bibendum consectetuer, vulputate, sollicitudin, primis ullamcorper vulputate sed risus dis feugiat vel gravida, class enim Mus aliquam ut donec sodales bibendum rutrum dis sit rutrum id eleifend. Dapibus potenti.</p>
                            <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article><!--//news-item-->
                    <article class="news-item page-row has-divider clearfix row">
                        <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                            <img class="img-responsive" src="assets/images/news/news-thumb-2.jpg" alt="">
                        </figure>
                        <div class="details col-md-10 col-sm-9 col-xs-8">
                            <h3 class="title"><a href="news-single.html">Aenean eleifend ornare nisi id molestie</a></h3>
                            <p>Donec feugiat enim sit amet nisl scelerisque, at sodales eros ullamcorper. Vestibulum nisi nisi, mattis sit amet elementum tincidunt, auctor vel metus. Morbi posuere elit mauris, eu cursus velit faucibus varius. Vestibulum dapibus massa arcu, sed vulputate enim suscipit eget. Mauris euismod orci magna. Nullam et lacinia dui. Sed massa neque, auctor sed nibh vel, congue adipiscing justo.</p>
                            <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article><!--//news-item-->
                    <article class="news-item page-row has-divider clearfix row">
                        <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                            <img class="img-responsive" src="assets/images/news/news-thumb-3.jpg" alt="">
                        </figure>
                        <div class="details col-md-10 col-sm-9 col-xs-8">
                            <h3 class="title"><a href="news-single.html">Quisque venenatis consequat commodo</a></h3>
                            <p>Curabitur bibendum gravida odio, nec tempus libero varius ut. Nullam augue nibh, posuere nec pretium in, sagittis id magna. Aenean tellus augue, fermentum a purus vitae, adipiscing accumsan enim. Curabitur in leo vel sapien egestas laoreet vitae quis est. Fusce malesuada nulla et elit dictum, et porttitor turpis blandit.</p>
                            <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article><!--//news-item-->
                    <article class="news-item page-row has-divider clearfix row">
                        <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                            <img class="img-responsive" src="assets/images/news/news-thumb-4.jpg" alt="">
                        </figure>
                        <div class="details col-md-10 col-sm-9 col-xs-8">
                            <h3 class="title"><a href="news-single.html">Donec feugiat enim sit amet nisl scelerisque</a></h3>
                            <p>Vivamus faucibus ullamcorper nunc, non vulputate neque vulputate nec. Vivamus ut ante a diam scelerisque consequat. Maecenas nisl urna, condimentum ac justo a, adipiscing hendrerit magna. Fusce pharetra laoreet accumsan. Phasellus elit sapien, consequat vel sapien sit amet, condimentum vulputate odio.</p>
                            <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article><!--//news-item-->
                    <article class="news-item page-row has-divider clearfix row">
                        <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                            <img class="img-responsive" src="assets/images/news/news-thumb-5.jpg" alt="">
                        </figure>
                        <div class="details col-md-10 col-sm-9 col-xs-8">
                            <h3 class="title"><a href="news-single.html">Ut eleifend dapibus ligula a ornare</a></h3>
                            <p>Sed hendrerit scelerisque posuere. Sed eu ipsum cursus, vulputate augue nec, lobortis felis. Integer pellentesque rhoncus metus, non aliquet urna pharetra sed. Quisque ultrices justo egestas urna condimentum accumsan.</p>
                            <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article><!--//news-item-->
                    <article class="news-item page-row has-divider clearfix row">
                        <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                            <img class="img-responsive" src="assets/images/news/news-thumb-6.jpg" alt="">
                        </figure>
                        <div class="details col-md-10 col-sm-9 col-xs-8">
                            <h3 class="title"><a href="news-single.html">Pellentesque sollicitudin leo non lacinia mattis</a></h3>
                            <p>Morbi bibendum consectetuer, vulputate, sollicitudin, primis ullamcorper vulputate sed risus dis feugiat vel gravida, class enim Mus aliquam ut donec sodales bibendum rutrum dis sit rutrum id eleifend. Dapibus potenti.</p>
                            <a class="btn btn-theme read-more" href="news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                        </div>
                    </article><!--//news-item-->
                    <ul class="pagination">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>

                </div><!--//news-wrapper-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1"> 
                    <section class="widget has-divider">
                        @Html.Action("EventPageNews","Event")
                </section><!--//widget-->
                <section class="widget">
                    <h3 class="title">Flickr Photo Stream</h3>
                    <ul id="flickr-photos"><li><a rel="prettyPhoto[flickr]" href="http://farm3.staticflickr.com/2945/15231812180_2416ef1bf0.jpg" title="ITV director joins Harriet Harman and Ed Vaizey on keynote speaker bill for Salford International Media Festival"><img src="http://farm3.staticflickr.com/2945/15231812180_2416ef1bf0_s.jpg" alt="ITV director joins Harriet Harman and Ed Vaizey on keynote speaker bill for Salford International Media Festival"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3931/15231946717_8e16d461f9.jpg" title="ITV director joins Harriet Harman and Ed Vaizey on keynote speaker bill for Salford International Media Festival"><img src="http://farm4.staticflickr.com/3931/15231946717_8e16d461f9_s.jpg" alt="ITV director joins Harriet Harman and Ed Vaizey on keynote speaker bill for Salford International Media Festival"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm3.staticflickr.com/2947/15415323451_d50e588948.jpg" title="ITV director joins Harriet Harman and Ed Vaizey on keynote speaker bill for Salford International Media Festival"><img src="http://farm3.staticflickr.com/2947/15415323451_d50e588948_s.jpg" alt="ITV director joins Harriet Harman and Ed Vaizey on keynote speaker bill for Salford International Media Festival"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3848/15217346530_6bc1462ce6.jpg" title="Nobel Peace Prize winner Tawakkol Karman"><img src="http://farm4.staticflickr.com/3848/15217346530_6bc1462ce6_s.jpg" alt="Nobel Peace Prize winner Tawakkol Karman"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm3.staticflickr.com/2946/15217412428_762e0a3cd4.jpg" title="Research scientist and Belle de Jour author Brooke Magnanti"><img src="http://farm3.staticflickr.com/2946/15217412428_762e0a3cd4_s.jpg" alt="Research scientist and Belle de Jour author Brooke Magnanti"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3849/15146793279_0276eeb12c.jpg" title="Alan Milburn calls for action on social mobility at Salford Lecture series"><img src="http://farm4.staticflickr.com/3849/15146793279_0276eeb12c_s.jpg" alt="Alan Milburn calls for action on social mobility at Salford Lecture series"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3914/15197390635_d57a11355f.jpg" title="Beautiful Game: Ugly Business - University of Salford - Salford Business School"><img src="http://farm4.staticflickr.com/3914/15197390635_d57a11355f_s.jpg" alt="Beautiful Game: Ugly Business - University of Salford - Salford Business School"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3898/15174363876_e9a4c5c3fc.jpg" title="Beautiful Game: Ugly Business - University of Salford - Salford Business School"><img src="http://farm4.staticflickr.com/3898/15174363876_e9a4c5c3fc_s.jpg" alt="Beautiful Game: Ugly Business - University of Salford - Salford Business School"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3835/15010816997_2b07085a6f.jpg" title="Beautiful Game: Ugly Business - University of Salford - Salford Business School"><img src="http://farm4.staticflickr.com/3835/15010816997_2b07085a6f_s.jpg" alt="Beautiful Game: Ugly Business - University of Salford - Salford Business School"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm4.staticflickr.com/3837/15174364506_466ed4de70.jpg" title="Beautiful Game: Ugly Business - University of Salford - Salford Business School"><img src="http://farm4.staticflickr.com/3837/15174364506_466ed4de70_s.jpg" alt="Beautiful Game: Ugly Business - University of Salford - Salford Business School"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm6.staticflickr.com/5575/15010817687_37a19d0471.jpg" title="Beautiful Game: Ugly Business - University of Salford - Salford Business School"><img src="http://farm6.staticflickr.com/5575/15010817687_37a19d0471_s.jpg" alt="Beautiful Game: Ugly Business - University of Salford - Salford Business School"></a></li><li><a rel="prettyPhoto[flickr]" href="http://farm6.staticflickr.com/5556/15194356691_0c4086763f.jpg" title="Beautiful Game: Ugly Business - University of Salford - Salford Business School"><img src="http://farm6.staticflickr.com/5556/15194356691_0c4086763f_s.jpg" alt="Beautiful Game: Ugly Business - University of Salford - Salford Business School"></a></li></ul><!--//flickr-photos-->
                </section><!--//widget-->
            </aside>
        </div><!--//page-row-->
    </div><!--//page-content-->
</div><!--//page-->
</div>
