

@section scripts
{ 
    <script src="~/Scripts/instructorView/instructor.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var instructoUrls = {
                getInstructors: '@Url.Action("InstructorList","Instructor")',
                createInstructor: '@Url.Action("CreateInstructor","Instructor")',
                updateInstructor: '@Url.Action("UpdateInstructor")',
                deleteInstructor:'@Url.Action("DeleteInstructor")'
            };
            LoadInstructorTable(instructoUrls);
        });
    </script>
}

<div id="instructoContainer"></div>